<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

    {% for message in message %}
        <h3>{{message}}</h3>
    {% endfor %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <p>Enter Your Name</p>
        <input type="text" name="username" placeholder="Please Enter Username"/>
        <p>Enter Your Email</p>
        <input type="text" name="email" placeholder="Please Enter Email"/>
        <p>Enter Your Password</p>
        <input type="password" name="password1" placeholder="Please Enter Password"/>
        <p>Please Confirm Your password</p>
        <input type="password" name="password2" placeholder="Please Confirm Your Password"/>
        <br/>
        <button type="submit"> Register </button>
        <button> <a href="{% url 'login' %}"> Login </a> </button>
    </form>
</body>
</html>